#main_card{
    margin-left: 450px;
    margin-top: 50px;
    width: 500px;
    height: 700px;
}

#main-card-register{
	width: 740px;
	height: 500px;
	margin-left: 330px;
    margin-top: 35px;
}


#main-form{
	margin-left: 190px;
}

#submit{
	margin-left: 80px;
}

#main_card-signin{
    margin-left: 490px;
    margin-top: 50px;
    width: 400px;
    height: 120px;
}

#main-form-signin{
   padding-top: 15px;
    margin-left: 110px;
}

#submit-btn{
    margin-left: 70px;
}

