{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for flight in flights %}
        <form action="{% url 'userpage' pk=flight.flight_id %}" method="post">
        {% csrf_token %}
    <div class="row">
    <div class="col s4 m4" id="flight-card">
      <div class="card  white">
        <div class="card-image">
            <img src="{% static "images/flights.jpg" %}" style="width: 200px;height: 150px; margin-left: 45px;">
        </div>
        <div class="card-content" id="flight">
          <h6>{{flight.flight_name}}</h6>
               Arrival: <p>{{ flight.time_arrival }}</p></span>
                Departure: <p>{{ flight.time_departure }}</p>
            <button type="submit" class="waves-effect waves-light btn">Book this flight</button>
        </div>
      </div>
    </div>
        <div class="col s4 m4">

        </div>
  </div>
        </form>

    {% endfor %}
{% endblock %}