{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for flight in flights %}
        <form action="{% url 'userpage' pk=flight.flight_id %}" method="post">
        {% csrf_token %}
    <div class="row">
    <div class="col s4 m4" id="flight-card">
      <div class="card small white">
        <div class="card-image">
            <img src="{% static "images/flights.jpg" %}">
        </div>
        <div class="card-content" id="flight">
          <h4>{{flight.flight_name}}</h4>
            <button type="submit" class="waves-effect waves-light btn">Book this flight</button>
        </div>
      </div>
    </div>
        <div class="col s4 m4">
            <div class="card small white">
                <h2>{{ flight.time_arrival }}</h2>
                <h3>{{ flight.time_departure }}</h3>
            </div>
        </div>
  </div>
        </form>

    {% endfor %}
{% endblock %}