{% extends 'base.html' %}
<body>
{% block content %}
    <div class="card white" id="main-card-register">
        <div class="card-content black-text">
            <div class="row" id="main-form">
                <form class="col s12" action="{% url 'passenger' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s4">
                            <input type="text" class="validate" placeholder="First Name" name="first"
                                   required="required">
                        </div>
                        <div class="input-field col s4">
                            <input type="text" class="validate" placeholder="Last Name" name="last"
                                   required="required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s7">
                            <input type="text" class="validate" placeholder="Passport Number" name="passport"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input type="password" class="validate" placeholder="Password"
                                   name="pass" required="required">
                        </div>
                        <div class="input-field col s4">
                            <input type="password" class="validate" placeholder="Retype-Password"
                                   name="repass" required="required">
                        </div>
                    </div>
                    <div class="row center">
                        <div class="input-field col s7" id="email-field">
                            <input type="email" class="validate" placeholder="Email" name="email"
                                   required>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col s5" id="submit-btn">
                            <input class="btn waves-effect waves-light" type="submit">
                            <i class="material-icons">send</i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>